<div class="post" fxLayout fxLayoutAlign="none center">
  <img *ngIf="post.author.photoURL as photoUrl;else missingPhotoTemplate" [src]="photoUrl" alt="Profile photo">
  <template #missingPhotoTemplate>-->
    <img src="assets/images/missing_photo.png" alt="Photo missing">
  </template>
  <div fxFlex fxLayout="column">
    <div fxFlex class="author-name">{{post.author.displayName}}</div>
    <div [class.show] *ngIf="editingMode != 2" fxFlex class="post-body">{{post.postBody}}</div>
    <md-input-container [class.hide]="editingMode != 2" fxFlex dividerColor="accent">
      <input #updateInputElem mdInput type="text" placeholder="Edit your post" [(ngModel)]="updatedPostBody" name="updatedPostBody" (keyup.enter)="saveEdit()">
    </md-input-container>
  </div>
  <div *ngIf="editingMode == 1" >
    <button md-icon-button (click)="editPost(updateInputElem)">
      <md-icon>edit</md-icon>
    </button>
    <button md-icon-button (click)="removePost()">
      <md-icon>delete</md-icon>
    </button>
  </div>
  <div *ngIf="editingMode == 2" >
    <button [disabled]="post.postBody==updatedPostBody || updatedPostBody == ''" md-icon-button (click)="saveEdit()">
      <md-icon>save</md-icon>
    </button>
    <button md-icon-button (click)="cancelEdit()">
      <md-icon>cancel</md-icon>
    </button>
  </div>
</div>